<div class="pos-abs width-full align-v-center" style="height: 70%;">
  <div class="row" style="height:100%;background: white;">
    <div class="small-12" id="resetPass">
      <div class="small-11 medium-6 large-3 line-med">

        <div class="text-center">
          <!--<img src="./img/lecharcutier-logo.png" style="height: 30px;" />-->
          <div class="space"></div>

          <h1  style="color: #5bb5da;">
            Reset Your Password
          </h1>
        </div>

        <div class="xxl-space"></div>
        <form name="reset_pass_form" ng-controller="PasswordController" ng-submit="resetPassword()" novalidate>
          <div class="error-msg text-center font-white" ng-if="resetMsg">
            {{resetMsgText}}
            <div class="xl-space"></div>
          </div>
          <div class="pos-rel login-field">
            <i class="material-icons opac-high md-24 font-blue-iron pos-abs pos-lower pos-left pad-l-tny">person</i>
            <input type="email" placeholder="Email" name="resetEmail" readonly class="pos-rel e2" ng-model="newUser.email" required />
            <input type="hidden" ng-model="newUser.token" />
            <div class="error-msg font-white" ng-show="reset_pass_form.resetEmail.$submitted || reset_pass_form.resetEmail.$touched">
              <span class="error" ng-show="reset_pass_form.resetEmail.$error.required">Email field is required.</span>
              <span class="error" ng-show="reset_pass_form.resetEmail.$error.email">Provide valid email.</span>
            </div>
          </div>
          <div class="space"></div>
          <div class="pos-rel login-field">
            <i class="material-icons opac-high md-24 font-blue-iron pos-abs pos-lower pos-left pad-l-tny">lock</i>
            <input type="password" placeholder="Password" name="resetPassword" ng-minlength="6" ng-maxlength="12" class="pos-rel e2"  ng-model="newUser.password" required/>
            <div class="error-msg font-white" ng-show="reset_pass_form.resetPassword.$submitted || reset_pass_form.resetPassword.$touched">
              <span class="error" ng-show="reset_pass_form.resetPassword.$error.required">Password field is required.</span>
              <span class="error" ng-show="reset_pass_form.resetPassword.$error.minlength">Password should be minimum 6 character.</span>
              <span class="error" ng-show="reset_pass_form.resetPassword.$error.maxlength">Password should be maximum 12 character.</span>
            </div>
          </div>
          <div class="space"></div>
          <div class="pos-rel login-field">
            <i class="material-icons opac-high md-24 font-blue-iron pos-abs pos-lower pos-left pad-l-tny">lock</i>
            <input type="password" placeholder="Confirm Password" name="resetConfirmPass" class="pos-rel e2"  ng-model="newUser.password_confirmation" required/>
            <div class="error-msg font-white" ng-show="reset_pass_form.resetConfirmPass.$submitted || reset_pass_form.resetConfirmPass.$touched">
              <span class="error" ng-show="reset_pass_form.resetConfirmPass.$error.required">Confirm Password field is required.</span>
              <span class="error" ng-show="!reset_pass_form.resetConfirmPass.$error.required && reset_pass_form.resetConfirmPass.$error.noMatch && reset_pass_form.resetPassword.$dirty">Passwords do not match.</span>
            </div>
          </div>
          <div class="space"></div>
          <div class="text-center">
            <button class="button radius" type="submit">Submit</button>
            <a class="button" type="submit" href="#/a/dashboard">Go To Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
