<title> Merx | Add product</title>
<div class="height-full width-full bg-primary-grad pos-fxd pos-top elevation-under"></div>
<div class="l-space"></div>

<div class="row" id="setHeadre" *ngIf="setHeadre">
  <div class="small-12 column text-center">
    <h1 class="font-white">Add product</h1>
  </div>
</div>

<div class="space"></div>

<div class="row">
  <div class="small-12 column">
    <h4 class="font-white">
      Where can it be bought at?
    </h4>
    <form id="StoreForm" *ngIf="StoreForm">
      <div class="pad-r pad-l">
        <div class="row bg-white">
          <div class="l-space"></div>

          <div class="small-11 small-centered column">

            <input type="radio" id="onlineStore" *ngIf="onlineStore" [(ngModel)]="storeActive.store" [value]="1" name="store" [ngModelOptions]="{standalone: true}" (click)="clickOnlineStore()"/>
            <label for="onlineStore">Online Store</label>

            <div class="store-details" id="onlineStoreDetails" *ngIf="onlineStoreDetails" style="display:none;">
              <!-- product URL -->
              <div class="input-group">
                <span class="input-group-label">URL</span>
                <input class="input-group-field" id="SetOnlineLink" *ngIf="SetOnlineLink" [(ngModel)]="store.url" type="text" [ngModelOptions]="{standalone: true}">

                <div class="input-group-button">
                  <button id="GoOnline" class="button" *ngIf="GoOnline" (click)="goOnline()">
                    <i class="material-icons md-36 line-none align-vmid">keyboard_arrow_right</i>
                  </button>
                </div>
              </div>
              <!-- END product URL -->

              <div class="l-space"></div>
            </div>

            <div class="space"></div>

            <input type="radio" id="offlineStore" *ngIf="offlineStore" [(ngModel)]="storeActive.store" [value]="2" name="store"  [ngModelOptions]="{standalone: true}" (click)="clickOfflineStrore()"/>
            <label for="offlineStore">Offline Store</label>

            <div class="store-details" id="offlineStoreDetails" *ngIf="offlineStoreDetails" style="display:none;">
              <div class="row collapse">
                <div class="small-12 medium-10 large-7 column">
                  <div class="pad-all-m bg-light-gray">
                    <div class="space"></div>

                    <label class="font-m">Retailer name</label>
                    <input type="text" id="RetailsName" *ngIf="RetailsName" [(ngModel)]="store.RetailsName" [ngModelOptions]="{standalone: true}" (keyup)="keyupRetailsName()"/>
                    <label id="Retailer_error" *ngIf="Retailer_error" style="color:red;">{{Retailer_errorValue}}</label>
                    <div class="space"></div>

                    <label class="font-m">Retailer address</label>
                    <div id="locationField" *ngIf="locationField">
                      <input id="autocomplete" placeholder="Enter your address" *ngIf="autocomplete" [(ngModel)]="store.address" type="text" [ngModelOptions]="{standalone: true}" (keyup)="keyupAutocomplete()"/>
                    </div>
                    <label id="autocomplete_eror" *ngIf="autocomplete_eror" style="color:red;">{{autocomplete_erorValue}}</label>
                    <div class="space"></div>

                    <div id="address" *ngIf="address">
                      <label>Street address</label>
                      <div class="row collapse">
                        <div class="small-8 column">
                          <input type="text" id="route" *ngIf="route" placeholder="Street Name" [(ngModel)]="store.StreetName" disabled="true" [ngModelOptions]="{standalone: true}"/>
                        </div>
                        <div class="small-4 column">
                          <input type="text" id="street_number" *ngIf="street_number" placeholder="Number" [(ngModel)]="store.Number" disabled="true" [ngModelOptions]="{standalone: true}"/>
                        </div>
                      </div>

                      <div class="space"></div>

                      <label>City</label>
                      <input type="text" id="locality" *ngIf="locality" disabled="true" [(ngModel)]="store.City" [ngModelOptions]="{standalone: true}"/>
                      <input class="hide" type="hidden" id="postal_code" *ngIf="postal_code" [(ngModel)]="store.postal_code" disabled="true" [ngModelOptions]="{standalone: true}"/>

                      <div class="space"></div>

                      <label>State</label>
                      <input type="text" id="administrative_area_level_1" *ngIf="administrative_area_level_1" [(ngModel)]="store.State" disabled="true" [ngModelOptions]="{standalone: true}"/>

                      <div class="space"></div>

                      <label>Country</label>
                      <input type="text" id="country" *ngIf="country" [(ngModel)]="store.Country" disabled="true" [ngModelOptions]="{standalone: true}"/>
                    </div>

                    <div class="space"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="l-space"></div>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="loading" *ngIf="loading">Loading&#8230;</div>
<div class="l-space"></div>
<div class="row" id="Productdetails" *ngIf="Productdetails">
  <div class="small-12 column">
    <h4 class="font-white">
      Product details
    </h4>

    <div class="pad-r pad-l">
      <div class="row bg-white">
        <div class="l-space"></div>
        <form id="ProductForm" *ngIf="ProductForm">
          <div class="small-12 medium-7 medium-push-5 columns">
            <!-- product name -->
            <label class="font-m">Product name</label>
            <!--
                              - initial: no special class
                              - for success: add class "success"
                              - for error: add class "error"
                          -->
            <div class="input-group validate" id="SetProductEro" *ngIf="SetProductEro">
								<span class="input-group-label" id="SetProductEroHtml" *ngIf="SetProductEroHtml">
									<i class="material-icons md-24 align-vmid">check</i>
									<i class="material-icons md-24 align-vmid">close</i>
								</span>
              <input class="input-group-field" type="text" [(ngModel)]="product.ProductName" id="ProductName" *ngIf="ProductName" [ngModelOptions]="{standalone: true}" (keyup)="keyupProductName()"/>
            </div>

            <div class="l-space"></div>

            <div class="row collapse">
              <label class="font-m">Price</label>
              <p class="help-text">Max 500$ </p>

              <div class="small-9 medium-5 large-5 column">
                <!-- PRICE -->

                <!-- for error in the filed, add class "error" -->
                <div class="input-group validate" id="SetPriceClass" *ngIf="SetPriceClass">
										<span class="input-group-label" id="SetPriceClassHtml" *ngIf="SetPriceClassHtml">
											<i class="material-icons md-24 align-vmid">check</i>
											<i class="material-icons md-24 align-vmid">close</i>
										</span>
                  <input class="input-group-field text-right" id="Productprice" *ngIf="Productprice" [(ngModel)]="product.Productprice" type="text"  [ngModelOptions]="{standalone: true}"/>
                  <div class="input-group-button">

                  </div>
                </div>
                <!-- when there is an error, show the error info -->
                <p class="help-text error" id="SetPriceClassEro" *ngIf="SetPriceClassEro"></p>
                <!-- END PRICE -->
                <div class="xs-space show-for-small-only"></div>
              </div>
              <div class="small-3 medium-3 large-2 column">
                <select id="selectUsa" *ngIf="selectUsa">
                  <option value="60.70">$</option>
                  <option value="72.30">€</option>
                </select>
              </div>
              <div class="small-12 medium-4 large-5 column">
                <!--
                                      SHOW this ONLY if the price has been filled in!
                                      transform the price into bars
                                  -->
                <div class="primary callout mrg-l-m mrg-none-small">
                  <p><strong id="setBrace" *ngIf="setBrace">{{setBraceValue.toFixed(2)}} bars</strong></p>
                </div>
              </div>
            </div>

            <div class="l-space"></div>

            <!-- product options -->
            <label class="font-m">Product options</label>
            <p class="help-text">eg: size, color ... </p>

            <!-- http://foundation.zurb.com/sites/docs/toggler.html for more details -->
            <div id="addOption" *ngIf="addOption" class="row mrg-b-m">

              <app-option [optionsarray]="options"></app-option>

            </div>

            <!--<a data-toggle="addOption" class="button" id="addOptionProduct">-->
            <a  class="button" id="addOptionProduct" click="" *ngIf="addOptionProduct">
              Add option
            </a>
            <!-- END product options -->

            <div class="l-space"></div>
          </div>
        </form>
        <!-- product images -->
        <div class="small-12 medium-5 medium-pull-7 columns">
          <label class="font-m">Product images</label>

          <div class="space"></div>

          <div class="row small-up-1 large-up-2">
            <div class="column">
              <form id="upload_img" *ngIf="upload_img" class="dropzone">
                <div class="fallback" >
                  <input name="file" type="file" />
                </div>
              </form>
            </div>
            <!-- one thumbnail image -->
            <div class="column">
              <div class="img-prev pos-rel">
                <img #setSrcT class="thumbnail" id="setSrcTag" *ngIf="setSrcTag" [src]="setSrcTagValue" alt="product name" />

                <div class="img-prev-options pos-abs width-full height-full pos-top pos-left text-center elevation-2 bg-black-transp">
                  <!-- delete image -->
                  <button class="font-white pos-abs align-v-center" title="delete">
                    <i class="material-icons md-36">delete</i>
                  </button>
                </div>
              </div>
            </div>
            <!-- END one thumbnail image -->
          </div>
        </div>
        <!-- END product images -->

        <div class="l-space"></div>
      </div>
    </div>

  </div>
</div>


<div class="l-space"></div>

<div class="row" id="Packageinfo" *ngIf="Packageinfo">
  <div class="small-12 column">
    <h4 class="font-white">
      Package info
    </h4>

    <div class="pad-r pad-l">
      <div class="row bg-white">
        <div class="l-space"></div>
        <form id="PackageForm" *ngIf="PackageForm">
          <div class="small-11 small-centered column">
            <!-- product weight -->
            <label class="font-m">Package weight</label>
            <div class="radio-button-group">
              <div class="row small-up-1 medium-up-4 large-up-4 button-group toggle" data-toggle="buttons-radio">
                <div class="column">
                  <input type="radio" id="w1" *ngIf="w1" name="weight" [(ngModel)]="Package.weight" [value]="Under 2kg" data-toggle="button" [ngModelOptions]="{standalone: true}">
                  <label class="expanded button pos-rel" for="w1">
                    <span class="block">Under 2kg</span>
                  </label>
                </div>
                <div class="column">
                  <input type="radio" id="w2" *ngIf="w2" name="weight" [(ngModel)]="Package.weight" [value]="2 - 5 kg" data-toggle="button" [ngModelOptions]="{standalone: true}">
                  <label  class="expanded button pos-rel" for="w2">
                    <span class="block">2 - 5 kg</span>
                  </label>
                </div>
                <div class="column">
                  <input type="radio" id="w3" *ngIf="w3" name="weight" [(ngModel)]="Package.weight" [value]="5 - 10 kg" data-toggle="button" [ngModelOptions]="{standalone: true}">
                  <label  class="expanded button pos-rel" for="w3">
                    <span class="block">5 - 10 kg</span>
                  </label>
                </div>
                <div class="column">
                  <input type="radio" id="w4" *ngIf="w4" name="weight" [(ngModel)]="Package.weight" [value]="More than 10kg" data-toggle="button" [ngModelOptions]="{standalone: true}">
                  <label  class="expanded button pos-rel" for="w4">
                    <span class="block">More than 10kg</span>
                  </label>
                </div>
              </div>
              <!-- END product weight -->

              <div class="l-space"></div>

              <!-- package size -->
              <label class="font-m">Package size</label>
              <div class="radio-button-group">
                <div class="row small-up-3 medium-up-4 large-up-6 button-group toggle" data-toggle="buttons-radio">
                  <div class="column">
                    <input type="radio" id="s1" *ngIf="s1" name="size" [(ngModel)]="Package.size" [value]="Tiny" data-toggle="button" [ngModelOptions]="{standalone: true}">
                    <label class="expanded button pos-rel" for="s1">
                      <i class="material-icons line-med md-24 font-success">mail</i>
                      <span class="block">Tiny</span>
                    </label>
                  </div>
                  <div class="column">
                    <input type="radio" id="s2" *ngIf="s2" name="size" [(ngModel)]="Package.size" [value]="Small" data-toggle="button" [ngModelOptions]="{standalone: true}">
                    <label  class="expanded button pos-rel" for="s2">
                      <i class="material-icons line-med md-24 font-success">shopping_basket</i>
                      <span class="block">Small</span>
                    </label>
                  </div>
                  <div class="column">
                    <input type="radio" id="s3" *ngIf="s3" name="size" [(ngModel)]="Package.size" [value]="Medium" data-toggle="button" [ngModelOptions]="{standalone: true}">
                    <label  class="expanded button pos-rel" for="s3">
                      <i class="material-icons line-med md-24 font-success">label</i>
                      <span class="block">Medium</span>
                    </label>
                  </div>
                  <div class="column">
                    <input type="radio" id="s4" *ngIf="s4" name="size" [(ngModel)]="Package.size" [value]="Large" data-toggle="button" [ngModelOptions]="{standalone: true}">
                    <label  class="expanded button pos-rel" for="s4">
                      <i class="material-icons line-med md-24 font-success">work</i>
                      <span class="block">Large</span>
                    </label>
                  </div>
                  <div class="column">
                    <input type="radio" id="s5" *ngIf="s5" name="size" [(ngModel)]="Package.size" [value]="XLarge" data-toggle="button" [ngModelOptions]="{standalone: true}">
                    <label  class="expanded button pos-rel" for="s5">
                      <i class="material-icons line-med md-24 font-success">label</i>
                      <span class="block">XLarge</span>
                    </label>
                  </div>
                  <div class="column">
                    <input type="radio" id="s6" *ngIf="s6" name="size" [(ngModel)]="Package.size" [value]="Huge" data-toggle="button" [ngModelOptions]="{standalone: true}">
                    <label  class="expanded button pos-rel" for="s6">
                      <i class="material-icons line-med md-24 font-success">label</i>
                      <span class="block">Huge</span>
                    </label>
                  </div>
                </div>
              </div>
              <!-- END package size -->
            </div>

            <div class="l-space"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="xl-space"></div>

<div class="row" id="buttonSvae" *ngIf="buttonSvae">
  <div class="small-12 column text-right">
    <button class="button secondary large" type="submit" (click)="saveProduct()">
      Save product
    </button>
  </div>
</div>
<label hidden id="img_name" *ngIf="img_name">{{img_nameValue}} </label>
<div class="xl-space"></div>
