<div id="add_cls_'+prodid+'" data_id="'+prodid+'"><div class="small-6 column">
  <label>Option name</label>
  <input type="text" placeholder="eg: Size, Color, ..." name="optionsName[]"/>
  </div>
  <div class="small-5 column">
    <label>Value</label>
    <input type="text"  name="optionsValues[]" />
    </div>
  <div class="small-1 column pos-rel">
    <div class="l-space"></div>
    <button class="addcloseButton" data_id="'+prodid+'"><i class="material-icons md-24">close</i></button>
    </div>
</div>
