<div  *ngFor="let item of optionsArray; let i = index; "><div class="small-6 column">
  <label>Option name</label>
  <input type="text" placeholder="eg: Size, Color, ..." [(ngModel)]="item.optionName"/>
  </div>
  <div class="small-5 column">
    <label>Value</label>
    <input type="text"  [(ngModel)]="item.optionValue" />
    </div>
  <div class="small-1 column pos-rel">
    <div class="l-space"></div>
    <button class="addcloseButton" (click)="removeOptionAt(i)" ><i class="material-icons md-24">close</i></button>
    </div>
</div>
